In [126]:
import pandas as pd

In [134]:
# Task 1 
data = pd.read_csv('data/sales_data.csv')
df = pd.DataFrame(data)
# Task 2
df.drop(columns=['x_t','perf'], inplace=True)

In [135]:
# 3A
df['Month'] = df['Order Date'].str[0:2]

In [136]:
# 3B - 3C
df['Month'].unique()
df.drop(df[df.Month == 'Or'].index, inplace=True)

In [130]:
df.reset_index(drop=True, inplace=True)

In [131]:
#D
df['Sum'] = df['Quantity Ordered'].astype(float) * df['Price Each'].astype(float)

In [132]:
# 3E
df.groupby(['Month'])['Sum'].sum().reset_index().sort_values('Sum',ascending=False)

   Month         Sum
11    12  4613443.34
9     10  3736726.88
3     04  3390670.24
10    11  3199603.20
4     05  3152606.75
2     03  2807100.38
6     07  2647775.76
5     06  2577802.26
7     08  2244467.88
1     02  2202022.42
8     09  2097560.13
0     01  1822256.73

In [133]:
# 3F
df.to_csv('data/new_sales.csv', sep=';', decimal=',')